#bloc_principal
{
    width: 80%;
    position: relative;
    display: flex;
    flex-direction: column;
    margin-right: auto;
    margin-left: auto; 

}

.floatdroit
{
	float: right;
}

/*figure
{
	position: absolute;
	right: 2%;
	top: 2%;

}*/


h1
{
	text-align: center;
}

h1+p
{
	text-align: center;
}

#bloc2
{
	display: flex;
}

#lisere
{	
	position: absolute;
	left: -11%;
	height: 100%;
	top: 0px;
	width: 10%;
	background-image: url("fond_gris.png");
	border-radius: 10px; 
}

#mes_experiences, #mes_competences,#ma_formation
{
	padding-left: 1%;
	padding-right: 1%;
}

h2
{
	color: #694C47;
}

@media all and (max-device-witdt: 480px)
{
#lisere
{
	display: none;
}
#bloc2
{
	flex-direction: column;
}
}

@media all and (max-width: 1024px)
{
#lisere
{
	display: none;
}
#bloc2
{
	flex-direction: column;
	width: auto;
}
}

/*